body {
  width:90%;
  font-family:helvetica;
}

th {
  vertical-align:top;
}

td {
    padding:5px;
    vertical-align:center;
	text-align:center;
}

th {
  text-align:center;
	background:pink;
}

ul {
   margin:0;
}
